{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Offers Platform",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://cte.api.visa.com",
      "description": "CTE server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Communities API",
      "description": "VOP Communities API"
    },
    {
      "name": "Merchants API",
      "description": "Merchants API enables VOP partners to search and onboard Visa defined merchant identifiers for specific merchant or store locations. Visa Merchant ID (VMID) identifies a merchant uniquely and Visa Store ID (VSID) identifies the store location. Before a merchant can be a target for an offer its VMID or VSID must be \"onboarded\" into partner's VOP community. Partners can choose to create an offer against multiple merchants, for which merchant group APIs should be utilized."
    },
    {
      "name": "Offers API",
      "description": "Offers API enables partners to create new offers and notify VOP when a cardholder wants to opt-in an offer. VOP partners will need to work with their assigned Visa Implementation manager to create templates which can be used to create new offers. Cardholders can link specific offers to their user profiles using activation endpoints and de-link using deactivation endpoints. VOP partners can also retrieve the activation details related to an offer or a cardholder using Offers API endpoints."
    },
    {
      "name": "Rewards API",
      "description": "Rewards API enables partners to issue a statement credit to a cardholder by submitting a statement credit request to the VOP. Statement credits can only be issued against valid transactions for PANs enrolled in VOP"
    },
    {
      "name": "Users API",
      "description": "Users API allows partners to enroll participants/Visa card and receive information from their  qualified transaction activity. It also allows cardholders to activate a specific offer while  they perform certain qualifying transactions."
    }
  ],
  "paths": {
    "/vop/v1/rewards/credit": {
      "post": {
        "tags": ["Rewards API"],
        "summary": "Submit Statement Credit Request",
        "description": " ",
        "operationId": "Rewards_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "reward": {
                      "merchantCity": "Foster City",
                      "cardId": "05F630E5-A002-E611-B9D8-005056AB5A06",
                      "transactionSettlementDate": "12/10/2016T00:00:00.000Z",
                      "description": "SC description",
                      "rewardAmount": {
                        "currency": "840",
                        "value": "8.0"
                      },
                      "externalClientId": "test",
                      "userId": "4a4b7c5b-e992-4121-b1fe-29f3dfa7ab03",
                      "transactionId": "27524017130509",
                      "communityCode": "SANDBOX"
                    },
                    "requestDateTime": "2016-12-21T04:27:47.88Z"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "rewardId": "c37c6559-bfe1-e611-a1ba-005056b225d2",
                      "responseDateTime": "2017-01-23T22:57:51.2695941Z",
                      "correlationId": "855e3fcd-0d8b-4762-956d-7c3210c1f519",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.RewardResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1rewards~1credit/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/communities/hierarchy": {
      "get": {
        "tags": ["Communities API"],
        "summary": "Communities Hierarchy",
        "description": "",
        "operationId": "Communities_GetCommunityHierarchy",
        "parameters": [
          {
            "name": "communityCode",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.ClientCommunityGetResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2018-05-08T07:29:19.0048506Z",
                      "correlationId": "ae918891-0a9a-4df5-966e-183b15a83ced",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "communities": [
                        {
                          "levelType": "Group",
                          "communityCode": "PB29CG"
                        },
                        {
                          "levelType": "Group",
                          "communityCode": "PB29CG2"
                        },
                        {
                          "levelType": "Client",
                          "communityCode": "PB29CL"
                        },
                        {
                          "levelType": "Client",
                          "communityCode": "PB29CLIENT2"
                        },
                        {
                          "levelType": "Client",
                          "communityCode": "PB29CL2"
                        }
                      ]
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.ClientCommunityGetResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.ClientCommunityGetResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.ClientCommunityGetResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1communities~1hierarchy/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/addcard": {
      "post": {
        "tags": ["Users API"],
        "summary": "Save Card",
        "description": "",
        "operationId": "Users_Addcard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "card": {
                      "expirationYear": 2018,
                      "cvv": "123",
                      "nameOnCard": "Test ABC",
                      "billingZipCode": "94354",
                      "expirationMonth": 7,
                      "cardNumber": "4000090000011001"
                    },
                    "userKey": "9890124569",
                    "communityCode": "GAP"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-23T04:54:52.9846102Z",
                      "cardDetails": {
                        "productId": "A",
                        "cardId": "0792bb87-670d-e711-a1ba-005056b225d2",
                        "productTypeCategory": "Credit",
                        "cardLast4": "1001",
                        "cardStatus": "New",
                        "productIdDescription": "Visa Traditional"
                      },
                      "correlationId": "58178a14-2db2-415b-87fa-e21fe5814d57",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error.",
                        "responseStatusDetails": []
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddCardResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1addcard/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/getusersbycarddetail": {
      "post": {
        "tags": ["Users API"],
        "summary": "Get Users By Card Detail",
        "description": "API to get users for an enrolled card\r\n\r\nCard Details types: PAN, ServiceKey or ServiceRecordId",
        "operationId": "Users_GetUsersByCardDetail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailRequest"
              },
              "examples": {
                "Request Sample 2": {
                  "summary": "Request Sample 2",
                  "value": {
                    "CardDetail": "1047921941",
                    "CardDetailType": "ServiceKey",
                    "communityCode": "AUTOCOMM01"
                  }
                },
                "Request Sample 3": {
                  "summary": "Request Sample 3",
                  "value": {
                    "CardDetail": "0507842c-2fa0-ec11-a9f9-00155d345164",
                    "CardDetailType": "ServiceRecordId",
                    "communityCode": "AUTOCOMM01"
                  }
                },
                "Default": {
                  "summary": "Default",
                  "value": {
                    "CardDetail": "4658977371150002",
                    "CardDetailType": "PAN",
                    "communityCode": "AUTOCOMM01"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2022-04-26T10:05:12.3137421Z",
                      "correlationId": "ed1f6c5f-c562-4660-8988-1c381ec628a9",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "enrollmentRecords": [
                        {
                          "communityTermsVersion": "1.1",
                          "userStatus": "Active",
                          "cardDetails": [
                            {
                              "ProductIdDescription": "Visa Traditional Rewards",
                              "ProductTypeCategory": "Credit",
                              "ServiceKey": "1047921941",
                              "ProductId": "B",
                              "CardId": "0507842c-2fa0-ec11-a9f9-00155d345164",
                              "CardLast4": "0002",
                              "CardStatus": "Existing"
                            }
                          ],
                          "userPreferences": {
                            "PreferredCategoryCodes": [],
                            "TimeZoneId": "Pacific Standard Time",
                            "TimeZoneShortCode": "PST",
                            "LanguageId": "en-US"
                          },
                          "cardHolderDetails": {
                            "isEmailPreferred": true,
                            "membershipNumber": "123456",
                            "lastName": "Automation Last Name",
                            "firstName": "Automation First Name",
                            "isDeleted": false,
                            "enrolledDate": "2022-03-10T05:02:29.497",
                            "externalUserId": "356456",
                            "isSmsPreferred": true,
                            "promoCode": "EESTEST",
                            "contacts": [
                              {
                                "ContactType": 0,
                                "ContactVerified": false,
                                "CountryCode": "1"
                              },
                              {
                                "ContactType": 1,
                                "ContactVerified": false,
                                "CountryCode": ""
                              }
                            ]
                          },
                          "userProfileId": "5c461b69-f1f5-42c7-a2a1-7cb2c3f159ca",
                          "userKey": "1231231238",
                          "communityCode": "AUTOCOMM01"
                        },
                        {
                          "communityTermsVersion": "1.1",
                          "userStatus": "Active",
                          "cardDetails": [
                            {
                              "ProductIdDescription": "Visa Traditional Rewards",
                              "ProductTypeCategory": "Credit",
                              "ServiceKey": "1047921941",
                              "ProductId": "B",
                              "CardId": "0507842c-2fa0-ec11-a9f9-00155d345164",
                              "CardLast4": "0002",
                              "CardStatus": "Existing"
                            }
                          ],
                          "userPreferences": {
                            "PreferredCategoryCodes": [],
                            "TimeZoneId": "Pacific Standard Time",
                            "TimeZoneShortCode": "PST",
                            "LanguageId": "en-US"
                          },
                          "cardHolderDetails": {
                            "isEmailPreferred": true,
                            "membershipNumber": "123456",
                            "lastName": "Automation Last Name",
                            "firstName": "Automation First Name",
                            "isDeleted": false,
                            "enrolledDate": "2022-03-10T05:01:42.22",
                            "externalUserId": "356456",
                            "isSmsPreferred": true,
                            "promoCode": "EESTEST",
                            "contacts": [
                              {
                                "ContactType": 0,
                                "ContactVerified": false,
                                "CountryCode": "1"
                              },
                              {
                                "ContactType": 1,
                                "ContactVerified": false,
                                "CountryCode": ""
                              }
                            ]
                          },
                          "userProfileId": "ebd9809f-e8e3-4157-8d26-e13b5a4e5eb1",
                          "userKey": "1231231237",
                          "communityCode": "AUTOCOMM01"
                        }
                      ]
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUsersByCardDetailResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "getUsersByCardDetailRequest",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1getusersbycarddetail/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/enroll": {
      "post": {
        "tags": ["Users API"],
        "summary": "Enroll User",
        "description": "",
        "operationId": "Users_Enroll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "communityTermsVersion": "1",
                    "correlationId": "ce708e6a-fd5f-48cc-b9ff-ce518a6fda1a",
                    "userDetails": {
                      "membershipNumber": "123496",
                      "cards": [
                        {
                          "expirationYear": "2020",
                          "cvv2": "775",
                          "nameOnCard": "US-BANK",
                          "billingZipCode": "11901",
                          "expirationMonth": "12",
                          "cardNumber": "4111348293334910"
                        }
                      ],
                      "userAttributes": [
                        {
                          "name": "test1",
                          "value": "test2"
                        }
                      ],
                      "referrerId": "45561",
                      "externalUserId": "356086",
                      "timeZoneId": "Pacific Standard Time",
                      "languageId": "en-US",
                      "promoCode": "45168",
                      "userKey": "9722108549",
                      "contacts": [
                        {
                          "countryCode": "1",
                          "isPreferred": "true",
                          "type": "SMS",
                          "value": "9722108549",
                          "isContactVerified": "false"
                        }
                      ],
                      "communityCode": "SANDBOX"
                    }
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-20T14:40:21.7406005Z",
                      "correlationId": "ce708e6a-fd5f-48cc-b9ff-ce518a6fda1a",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error.",
                        "responseStatusDetails": []
                      },
                      "userDetails": {
                        "cards": [
                          {
                            "cardId": "fb275b23-7b0d-e711-a1ba-005056b225d2",
                            "cardLast4": "4910",
                            "cardStatus": "New"
                          }
                        ],
                        "userStatus": 1,
                        "enrollDateTime": "2017-03-20T14:40:18.81",
                        "userAttributes": [
                          {
                            "name": "test1",
                            "value": "test2"
                          }
                        ],
                        "referrerId": "45561",
                        "timeZoneId": "Pacific Standard Time",
                        "timeZoneShortCode": "PST",
                        "languageId": "en-US",
                        "userId": "d3166b34-6453-4ff6-a3d2-d04e68c2d6d1",
                        "userKey": "9722108549",
                        "membershipNumber": "123496",
                        "externalUserId": "356086",
                        "promoCode": "45168",
                        "contacts": [
                          {
                            "countryCode": "1",
                            "isPreferred": true,
                            "value": "9722108549",
                            "isContactVerified": false
                          }
                        ],
                        "communityCode": "NEWRCMUTY"
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.EnrollResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1enroll/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/gettransaction": {
      "post": {
        "tags": ["Users API"],
        "summary": "Get User Transactions",
        "description": "",
        "operationId": "Users_GetUserTransactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "transactionAmount": 17,
                    "transactionDate": "2018-03-14 14:40:11.000",
                    "userKey": "tes8t88@test.com",
                    "cardLast4": 2069,
                    "merchantName": "CEFCO 2068",
                    "communityCode": "PB001"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2018-05-11T18:24:43.4990004Z",
                      "correlationId": "5fe83111-aacc-4152-8ac5-241fbe27ac0d",
                      "transactions": [
                        {
                          "merchantCity": "BROWNFIELD",
                          "vipTransactionId": "737071479554020",
                          "settlementId": "",
                          "transactionDate": "2018-03-14T14:40:11",
                          "userId": "cb69b367-4307-4cf0-aef3-250178ba8d07",
                          "userKey": "tes8t88@test.com",
                          "transactionType": "Authorization",
                          "visaStoreName": "VALERO",
                          "visaMerchantId": 32114564,
                          "merchantStateCode": "TX",
                          "transactionAmount": 17,
                          "merchantPostalCode": "79316",
                          "transactionCurrencyCode": 840,
                          "visaStoreId": 134754789,
                          "visaMerchantName": "VALERO",
                          "cardLast4": "2069"
                        },
                        {
                          "merchantCity": "BROWNFIELD",
                          "vipTransactionId": "737071479554020",
                          "settlementId": "",
                          "transactionDate": "2018-03-14T14:40:11",
                          "userId": "cb69b367-4307-4cf0-aef3-250178ba8d07",
                          "userKey": "tes8t88@test.com",
                          "transactionType": "Authorization",
                          "visaMerchantId": 0,
                          "merchantStateCode": "TX",
                          "transactionAmount": 17,
                          "merchantPostalCode": "79316",
                          "transactionCurrencyCode": 840,
                          "visaStoreId": 0,
                          "cardLast4": "2069"
                        }
                      ],
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.TransactionResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "transactionRequest",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1gettransaction/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/unenroll": {
      "post": {
        "tags": ["Users API"],
        "summary": "Unenroll User",
        "description": "",
        "operationId": "Users_UnEnroll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "UserKey": "9722108549",
                    "correlationId": "ce708e6a-fd5f-48cc-b9ff-ce518a6fda1a",
                    "CommunityCode": "SANDBOX"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-20T14:49:09.7945664Z",
                      "correlationId": "ce708e6a-fd5f-48cc-b9ff-ce518a6fda1a",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error.",
                        "responseStatusDetails": []
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.UnEnrollResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1unenroll/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/getbyuser": {
      "post": {
        "tags": ["Users API"],
        "summary": "Get User Details by UserKey",
        "description": " ",
        "operationId": "Users_GetUserEnrollmentRecord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "userKey": "tes8t88@test.com",
                    "communityCode": "PB001"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2018-05-08T07:09:57.5589149Z",
                      "correlationId": "1e319b77-b5b5-41d5-86c8-61b7067df279",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "enrollmentRecord": {
                        "communityTermsVersion": "1",
                        "userStatus": "Active",
                        "cardDetails": [
                          {
                            "ProductIdDescription": "Visa Purchasing",
                            "ProductTypeCategory": "Deferred Debit",
                            "ServiceKey": "5076981017551999",
                            "ProductId": "S",
                            "CardId": "39e86f1e-2fcb-e711-8b62-005056b225d2",
                            "CardLast4": "2069",
                            "CardStatus": "Existing"
                          }
                        ],
                        "userPreferences": {
                          "PreferredCategoryCodes": [],
                          "TimeZoneId": "Pacific Standard Time",
                          "TimeZoneShortCode": "PST",
                          "LanguageId": "en-US"
                        },
                        "cardHolderDetails": {
                          "isEmailPreferred": true,
                          "membershipNumber": "",
                          "lastName": "TEST",
                          "firstName": "TSTUSR1",
                          "isDeleted": false,
                          "enrolledDate": "2017-11-17T00:34:57.313",
                          "externalUserId": "TEST12345VCN",
                          "isSmsPreferred": true,
                          "contacts": [
                            {
                              "ContactType": 0,
                              "ConfirmationCode": "",
                              "ContactVerified": true,
                              "CountryCode": "1"
                            },
                            {
                              "ContactType": 1,
                              "ContactVerified": false,
                              "CountryCode": ""
                            },
                            {
                              "ContactType": 1,
                              "ContactVerified": false,
                              "CountryCode": ""
                            }
                          ]
                        },
                        "browserName": "",
                        "userProfileId": "cb69b367-4307-4cf0-aef3-250178ba8d07",
                        "userKey": "tes8t88@test.com",
                        "communityCode": "PB001"
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.GetUserEnrollmentRecordResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1getbyuser/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/users/deletecard": {
      "post": {
        "tags": ["Users API"],
        "summary": "Delete Card",
        "description": "",
        "operationId": "Users_DeleteCard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "userId": "ae45b256-d677-4b8a-bc49-f1b3a6df8bd8",
                    "card": {
                      "cardId": "70ca44b6-fc09-e711-a1ba-005056b225d2"
                    },
                    "userKey": "9442108541",
                    "communityCode": "NewRCmuty"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-16T03:57:56.262101Z",
                      "correlationId": "ce708e6a-fd5f-48cc-b9ff-ce518a6fda1a",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error.",
                        "responseStatusDetails": []
                      },
                      "userDetails": {
                        "cards": [
                          {
                            "cardId": "70ca44b6-fc09-e711-a1ba-005056b225d2",
                            "cardLast4": "4810",
                            "cardStatus": "New"
                          }
                        ],
                        "userStatus": 1,
                        "enrollDateTime": "2017-03-16T03:57:54.857",
                        "userAttributes": [
                          {
                            "name": "test1",
                            "value": "test2"
                          }
                        ],
                        "referrerId": "45261",
                        "timeZoneId": "Pacific Standard Time",
                        "timeZoneShortCode": "PST",
                        "languageId": "en-US",
                        "userId": "ae45b256-d677-4b8a-bc49-f1b3a6df8bd8",
                        "userKey": "9442108541",
                        "membershipNumber": "123456",
                        "externalUserId": "356056",
                        "promoCode": "45268",
                        "contacts": [
                          {
                            "countryCode": "1",
                            "isPreferred": true,
                            "value": "9442108541",
                            "isContactVerified": false
                          }
                        ],
                        "communityCode": "NEWRCMUTY"
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.DeleteCardResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1users~1deletecard/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups/deletemerchant": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Delete Visa Merchant Identifiers from Merchant Group",
        "description": " ",
        "operationId": "Merchants_DeleteMerchantFromMerchantGroup",
        "requestBody": {
          "description": "Save Merchant Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantGroupName": "MGroup1",
                    "merchantDetails": [
                      {
                        "visaMerchantId": "35992665",
                        "visaStoreId": "162754547"
                      },
                      {
                        "endDateInMerchantGroup": "2018-03-10T18:00:00.000Z",
                        "visaMerchantId": "29992901",
                        "startDateInMerchantGroup": "2017-03-10T18:00:00.000Z",
                        "externalId": "EXTERNALID123",
                        "visaStoreId": "160365013"
                      }
                    ],
                    "communityCode": "PB29CLIENT2"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-17T19:07:59.893006Z",
                      "correlationId": "4cfe27ff-5d9a-4112-b959-9f8fa93570a6",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups~1deletemerchant/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups/add": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Create Merchant Group",
        "description": " ",
        "operationId": "Merchants_AddMerchantGroup",
        "requestBody": {
          "description": "Merchant Group Request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantGroups": [
                      {
                        "name": "MGroup1"
                      }
                    ],
                    "type": "MerchantInfo",
                    "communityCode": "PB29CLIENT2"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-17T17:33:00.6886853Z",
                      "correlationId": "7162fe09-7bdf-443b-b021-8504c4b101fa",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.AddMerchantGroupResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups~1add/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups": {
      "get": {
        "tags": ["Merchants API"],
        "summary": "Search Merchant Group Details",
        "description": " ",
        "operationId": "Merchants_GetCommunityMerchantGroupDetails",
        "parameters": [
          {
            "name": "communityCode",
            "in": "query",
            "description": "Client community code, must be exact match with the community code (CL level) provided by Visa. : mandatory",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date for the values requested. Unix date/time. For example, 1622651177 represents Wednesday, June 2, 2022 4:26:17 PM : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to be returned back in the response. Maximum PageSize is 5000. If left blank, the response defaults to 5000 as well : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "\"Start index for the values requested. Default value is 0. For merchant groups with more than 5000 records, use this field to iterate through entire merchant group\" : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "merchantGroupName",
            "in": "query",
            "description": "Merchant Group name, must be an exact match to existing merchant group name. This field is case sensitive. : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.CommunityMerchantGroupDetailsGetResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "syncTime": 636255821980000000,
                      "countOfRemainingRecords": 0,
                      "merchantGroups": [
                        {
                          "createdDate": "2017-03-14T18:27:31.593",
                          "createdBy": "CYBS",
                          "name": "VMIDVSIDUI",
                          "modifiedDate": "2017-03-14T18:51:36.117",
                          "modifiedBy": "cybs",
                          "id": "1a723eac-6cd0-4dc9-91c0-e54b94ba447b",
                          "merchantDetails": [
                            {
                              "visaStoreName": "STARBUCKS",
                              "visaMerchantId": "18491288",
                              "visaMerchantEnterpriseName": "KROGER",
                              "isDeleted": false,
                              "createdBy": "cybs",
                              "modifiedDate": "2017-03-14T18:51:36.117",
                              "externalId": "AGOAGE",
                              "visaStoreId": "166295805",
                              "modifiedBy": "cybs",
                              "visaMerchantName": "FRED MEYER"
                            }
                          ],
                          "communityCode": "PB29CLIENT2",
                          "merchantGroupType": "MerchantInfo"
                        }
                      ],
                      "responseDateTime": "2017-03-20T04:49:58.7775075Z",
                      "endIndex": 1,
                      "correlationId": "2452306c-9e09-417c-b027-fe89f30331f6",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.CommunityMerchantGroupDetailsGetResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.CommunityMerchantGroupDetailsGetResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.CommunityMerchantGroupDetailsGetResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups/delete": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Delete Merchant Group",
        "description": " ",
        "operationId": "Merchants_DeleteMerchantGroup",
        "requestBody": {
          "description": "Delete Merchant Group Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantGroups": [
                      {
                        "name": "Merchant Group 12"
                      }
                    ],
                    "type": "MerchantInfo",
                    "deleteAllMerchants": true,
                    "communityCode": "GAPCL"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2020-06-04T01:36:32.6769542Z",
                      "correlationId": "e311dc6f-07cb-40db-adfc-02563ab19d66",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantGroupDeleteResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups~1delete/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups/addacquirer": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Add Acquirer Details to Merchant Group",
        "description": " ",
        "operationId": "Merchants_AddAcquirerToMerchantGroup",
        "requestBody": {
          "description": "Save Acquirer Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "responseDateTime": "2017-03-17T18:04:23.5809557Z",
                    "correlationId": "17cdd375-aed6-4a7a-a9b7-e7e72796a50d",
                    "responseStatus": {
                      "code": "SUCCESS",
                      "message": "Request proceed successfully without error."
                    }
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-17T18:04:23.5809557Z",
                      "correlationId": "17cdd375-aed6-4a7a-a9b7-e7e72796a50d",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups~1addacquirer/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/onboard": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Onboard Merchants",
        "description": " ",
        "operationId": "Merchants_Post",
        "requestBody": {
          "description": "Takes MerchantOnboardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantDetails": [
                      {
                        "visaMerchantId": "29992901",
                        "visaStoreId": "166596266"
                      }
                    ],
                    "communityCode": "SANDBOX"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-01-25T06:16:18.8969192Z",
                      "correlationId": "2b11d209-3b7f-4307-963d-dee25027dbf9",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "StatusCode": 0
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantOnboardResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1onboard/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups/deleteacquirer": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Delete Acquirer Details from Merchant Group",
        "description": " ",
        "operationId": "Merchants_DeleteAcquirerFromMerchantGroup",
        "requestBody": {
          "description": "Save Acquirer Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "responseDateTime": "2017-03-17T18:32:12.6898499Z",
                    "correlationId": "67b25735-507d-4236-b62c-6034f1a0cd10",
                    "responseStatus": {
                      "code": "SUCCESS",
                      "message": "Request proceed successfully without error."
                    }
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "merchantGroupName": "MGrosdsdsdsup2Acq",
                      "merchantAcquirerDetails": [
                        {
                          "endDateInMerchantGroup": "2018-03-10T18:00:00.000Z",
                          "cardAcceptorId": "0003154545123",
                          "startDateInMerchantGroup": "2017-03-10T18:00:00.000Z",
                          "externalId": "Ext45",
                          "acquirerBin": "123457"
                        }
                      ],
                      "communityCode": "PB29CLIENT2"
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveAcquirerDetailsInMerchantGroupResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups~1deleteacquirer/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/search/details": {
      "get": {
        "tags": ["Merchants API"],
        "summary": "Search for Visa Merchant or Store Identifiers",
        "description": " ",
        "operationId": "Merchants_GetMerchantSearchDetails",
        "parameters": [
          {
            "name": "communityCode",
            "in": "query",
            "description": "Client community code, must be exact match with the community code (CG level) provided by Visa. : mandatory",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantSearchType",
            "in": "query",
            "description": "Possible values \"Exact' or \"Relative\". \"Exact\" value forces all the input criteria to match for search results. When search type value is \"Relative\", the response includes merchant details where some or all of the input criteria matched : mandatory",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Visa defined merchant id : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantName",
            "in": "query",
            "description": "Conditional. Required when MerchantCountryCode is supplied : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "query",
            "description": "Visa defined store id : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantUrl",
            "in": "query",
            "description": "URL of the merchant. : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessRegistrationId",
            "in": "query",
            "description": "Business Registration ID / Tax ID: optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardAcceptorId",
            "in": "query",
            "description": "The Card Acceptor ID (CAID) is a unique identifier number for the originator of transfers. Typically, an ID is between 1 and 15 characters and is assigned for each store location : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acquirerBin",
            "in": "query",
            "description": "Acquiring Identifier, formerly known as Acquiring BIN. Can be used in combination with Card Acceptor ID to search for specific store location : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantPhoneNumber",
            "in": "query",
            "description": "Merchant Phone Number : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acquirerBid",
            "in": "query",
            "description": "Acquirer Business Identification Number (BID). Can be used in combination with Acquirer MID to search for specific store location : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acquirerMid",
            "in": "query",
            "description": "Acquirer Merchant Identification Number (MID) : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantCountryCode",
            "in": "query",
            "description": "Merchant Country Code in 3 digit numeric code, for example 840 for US. : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantCity",
            "in": "query",
            "description": "City of the merchant : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantState",
            "in": "query",
            "description": "State of the merchant : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantPostalCode",
            "in": "query",
            "description": "Postal code of the merchant : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantStreetAddress",
            "in": "query",
            "description": "Street address of the merchant : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnMatchIndicators",
            "in": "query",
            "description": "If set to \"true\", response will include the input attributes that are exact with the merchant entries in the response : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchDetailsResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2018-05-08T07:01:05.0027011Z",
                      "numberOfMatchedRecords": 1,
                      "correlationId": "f63579b7-8787-4327-8578-db06d75b74ba",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "merchantDetails": [
                        {
                          "merchantPhoneNumber": [],
                          "lastTranDateRange": "In last 90 days",
                          "matchIndicators": ["acquirerMid"],
                          "merchantCity": "POWELL",
                          "merchantCountryCode": 840,
                          "firstTranDateRange": "In more than 365 days",
                          "merchantState": "OH",
                          "DBAName": ["THE MANNA INSTITUTE"],
                          "visaStoreName": "MANNA INSTITUTE",
                          "visaMerchantId": "35905484",
                          "merchantPostalCode": "43065-6080",
                          "merchantCategoryCode": ["8011"],
                          "visaStoreId": "160130727",
                          "merchantStreetAddress": "3779 ATTUCKS DR",
                          "visaMerchantName": "MANNA INSTITUTE",
                          "paymentFacilitatorName": [],
                          "merchantUrl": []
                        }
                      ]
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchDetailsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchDetailsResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchDetailsResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1search~1details/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/search/transaction": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Search Merchant by Transaction",
        "description": " ",
        "operationId": "Merchants_SearchMerchantByTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantCity": "08",
                    "merchantCountryCode": "840",
                    "userAlias": "PAYPAL",
                    "transactionAmount": "1200.00",
                    "merchantPostalCode": "913040000",
                    "merchantAddress": "Test",
                    "transactionDate": "2019-06-25",
                    "merchantState": "06",
                    "userCommunityCode": "KUMSCOMM",
                    "transactionId": "310520192002",
                    "merchantName": "INFINITY STAMPS INC. DBA ",
                    "communityCode": "GAPCL"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.MerchantSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SearchMerchantResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-22T21:12:24.4648707Z",
                      "correlationId": "1c054b93-4f28-48cd-be43-79e3b38d028c",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "merchantDetails": [
                        {
                          "visaStoreName": "AM ZON UK RET IL",
                          "visaMerchantId": "11764203",
                          "visaMerchantEnterpriseName": "AMAZON.COM",
                          "isDeleted": false,
                          "visaStoreId": "170089787",
                          "isPOSRedemptionCapable": false,
                          "visaStoreEnrichedAddress": {
                            "city": "UNKNOWN_CITY",
                            "address1": "UNKNOWN_STR",
                            "countryCode": "442",
                            "postalCode": "0",
                            "state": "UNKNOWN_STATE"
                          },
                          "posRedemptionFeatures": {
                            "isPretaxCapable": false,
                            "isPerUnitDiscountCapable": false
                          },
                          "visaMerchantName": "AMAZON.COM"
                        }
                      ]
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SearchMerchantResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SearchMerchantResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SearchMerchantResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1search~1transaction/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/merchants/groups/addmerchant": {
      "post": {
        "tags": ["Merchants API"],
        "summary": "Add Visa Merchant Identifiers to Merchant Group",
        "description": " ",
        "operationId": "Merchants_AddMerchantToMerchantGroup",
        "requestBody": {
          "description": "Save Merchant Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "merchantGroupName": "MGroup1",
                    "merchantDetails": [
                      {
                        "endDateInMerchantGroup": "2018-03-10T18:00:00.000Z",
                        "visaMerchantId": "35992665",
                        "startDateInMerchantGroup": "2017-03-17T18:00:00.000Z",
                        "externalId": "ExternalID123",
                        "visaStoreId": "162754547"
                      }
                    ],
                    "communityCode": "PB29CLIENT2"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseDateTime": "2017-03-17T17:54:48.8324866Z",
                      "correlationId": "3b8aa373-20dc-46ca-9c7a-acb78086e654",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.SaveMerchantInMerchantGroupResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1merchants~1groups~1addmerchant/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/activations/getbyuser": {
      "post": {
        "tags": ["Offers API"],
        "summary": "Retrieve Activation Data by User details",
        "description": " ",
        "operationId": "Activations_GetOfferActivationDeactivationByUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "fromDate": "2016-01-30T01:20:03Z",
                    "startIndex": 0,
                    "operationStatus": "all",
                    "toDate": "2018-01-30T01:20:03Z",
                    "pageSize": 2,
                    "userId": "18470a1a-bdab-4f62-a408-afffb4a660dd",
                    "userkey": "",
                    "communityCode": "PB001"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserRequest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "countOfRemainingRecords": 6875,
                      "responseDateTime": "2018-05-08T07:13:05.1657175Z",
                      "endIndex": 2,
                      "offerOperationDetails": [
                        {
                          "operationStatus": "Success",
                          "operationStatusMessage": "Validation Successful",
                          "operationDateTime": "2017-11-03T17:59:51.387",
                          "offerId": 667919,
                          "operationType": "ActivateOffer",
                          "operationProperty": [],
                          "activationId": "0ec4d783-49c8-4b49-a8f2-122d10768511"
                        },
                        {
                          "operationStatus": "Success",
                          "operationStatusMessage": "Validation Successful",
                          "operationDateTime": "2017-10-26T19:05:41.443",
                          "offerId": 667919,
                          "operationType": "ActivateOffer",
                          "operationProperty": [],
                          "activationId": "7990c322-5782-4f83-a541-29109d89a080"
                        }
                      ],
                      "correlationId": "ac8e89ba-0477-47e6-9044-a60fc03ec433",
                      "responseStatus": {
                        "code": "SUCCESS",
                        "message": "Request proceed successfully without error."
                      },
                      "userId": "18470a1a-bdab-4f62-a408-afffb4a660dd",
                      "communityCode": "PB001"
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RealTimeOffersApi.Models.OfferActivityByUserResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vop~1v1~1activations~1getbyuser/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vop/v1/offers/community": {
      "get": {
        "tags": ["Offers API"],
        "summary": "Offer Community",
        "description": "API to Get offers and event details by community",
        "operationId": "Offers_GetOffersByCommunity",
        "parameters": [
          {
            "name": "communityCode",
            "in": "query",
            "description": "Community Code : mandatory",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Offer Id : optional",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
[...]
